@{
    Layout = "Layout.cshtml";
}
      <h2>Contact Us</h2>
<div >
        <p>This Site is Developed By Amreena Sabir</p>
    <p>
        To Contact email on following id: <b>bsef11a043@pucit.edu.pk</b>
    </p>
    <br />

    </div>

